.data_card {
  display: flex;
  border: 1px solid rgba(55, 91, 210, 0.19);
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
  background-color: white;
  padding: 6px;
  max-width: 400px;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
}

.icon_container {
  padding: 8px;
  background: white;
  border: 1px solid rgba(55, 91, 210, 0.19);
  border-radius: 8px;
  margin: 15px;
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 3px !important;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #1b2b6b;
}

.desc {
  margin-bottom: 0 !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #5a5a5a;
}

.container {
  display: flex;
  flex-direction: row;
}

.card_container {
  width: 100%;
}

.card_container:nth-child(2) {
  margin: 0 70px;
}

@media (max-width: 1250px) {
  .card_container:nth-child(2) {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card_container:nth-child(2) {
    margin: 0;
  }
}
