$theme-colors: (
  "primaryDark": #123faa,
  "primaryBlue": #0052ff,
  "backgroundBlue": #2349c6,
  "primaryText": #375bd2,
  "primaryTextDark": #1a2b6b,
  "primaryViolet": #e3297e,
  "primaryTextGray": #939393,
  "cardImageBg": rgba(247, 248, 252, 0.8),
  "cardImageBorder": rgba(55, 91, 210, 0.034),
  "cardDescriptionColor": #727272,
  "investmentGraphBg": #254ac7,
  "tableFontColor": #a9a9a9,
  "tableDataColor": #2c3131,
  "success": #53d258,
  "lightBlueText": #dae6ff,
  "primaryLightButton": #d7e4ff,
  "textLightGray": #e9e9e9,
  "footerBg": #284bbf,
);

html,
body {
  background: #f8f9fc !important;
}

.visible50 {
  width: 50% !important;
}

@import "~bootstrap/scss/bootstrap.scss";
