.intro_text_section {
  width: 75%;
}

.bottom_logos {
  width: 60%;
  padding-left: 7rem !important;
}

@media (max-width: 768px) {
  .intro_text_section {
    width: 100%;
  }

  .bottom_logos {
    width: 100%;
    padding-left: 1.5rem !important;
  }
}
