.five_years {
  max-width: 10px;
  width: 100%;
  min-width: 10px;
  border-radius: 4px;
  background-color: rgba(37, 74, 199, 0.6);
  z-index: 0;
  margin: 0 4px 0 4px;
  display: flex;
  align-items: flex-end;
  transition: 0.3s;
}

.savings {
  max-width: 10px;
  width: 100%;
  min-width: 10px;
  border-radius: 4px;
  background-color: rgba(37, 75, 199, 1);
  z-index: 1;
  transition: 0.3s;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #0251ff;
  margin-top: 7px;
}

.flex {
  display: flex;
}

.half_container {
  width: 50%;
}

.graph_background {
  width: 100%;
  background: linear-gradient(180deg, #0251ff 50%, #ffffff00 50%);
}
