.horizontal_line {
  height: 1px;
  background-color: #c2c2c2;
  width: 100%;
}
.footerlinks{
  display:block;
  color:white;
}

@media (max-width: 768px) {
  .horizontal_line {
    width: 50%;
  }
}
