.body_font {
  font-family: "Lexend", sans-serif;
}

.data_card {
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  align-items: center;
  margin: 6px 0px;
  cursor: pointer;
}

.icon_container {
  padding: 8px;
  background: rgba(247, 248, 252, 0.8);
  border: 1px solid rgba(0, 82, 255, 0.2);
  border-radius: 8px;
  margin: 15px;
}

.title {
  margin-bottom: 0 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #18263e;
}

.desc {
  margin-bottom: 0 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #a1aac7;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }
  .desc {
    font-size: 12px;
  }
}
