.input {
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(55, 91, 210, 0.24);
  box-shadow: 4px 4px 60px rgba(55, 91, 210, 0.1);
  border-radius: 8px;
  padding: 10px;
  padding-left: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.input::placeholder {
  color: #a1aac7;
}

.search_icon {
  position: absolute;
  top: 25%;
  left: 1rem;
}
