.header {
  background-color: white !important;
  font-size: 20px;
  font-weight: 600;
}

.header_home {
  background-color: #0251ff !important;
  font-size: 20px;
  font-weight: 600;
  color: white !important;
}

.header:not(.collapsed) {
  box-shadow: none !important;
  color: black;
}

.header::after {
  background: url("../../../public/assets/icons/accordion-close.svg");
  padding: 11px;
}

.header:not(.collapsed)::after {
  background: url("../../../public/assets/icons/accordion-open.svg");
  padding: 11px;
}

.header_home:not(.collapsed) {
  box-shadow: none !important;
  color: black;
}

.header_home::after {
  background: url("../../../public/assets/icons/accordion-close_white.svg");
  padding: 11px;
}

.header_home:not(.collapsed)::after {
  background: url("../../../public/assets/icons/accordion-open_white.svg");
  padding: 11px;
}

.accordion_item {
  border: solid 1px rgba(0, 82, 255, 0.2);
  box-shadow: 5px 0px 20px 10px rgb(0 0 0 / 6%);
}
